@page
@model Basketball_Academy_Management_System.Pages.Account.LogoutModel
@{
}

<div class="container py-10 text-center min-h-screen">
    <h2 class="mb-4">You have been logged out</h2>
    <p>If you are not redirected automatically, <a href="/Account/Login">click here to login</a>.</p>
</div>
